body {
  font-family: "Raleway", sans-serif;
  background-color: #ffe17f;
}

header {
  font-family: "Limelight", cursive;
  color: #4a148c;
}

h1 {
  font-size: 40px;
}

.movie-Poster {
  max-height: 350px;
  margin-top: 6px;
}

.movie-Info {
  max-width: 750px;
}

.parallax-container .parallax img {
  opacity: 100;
  max-width: 50px;
}

#searchBtn {
  background-color: white;
  color: black;
}

.container {
  align-items: center;
  display: flex;
  margin: auto;
}

footer {
  font-family: "Limelight", cursive;
  color: white;
  text-align: center;
  align-items: center;
  

}

.saveBtn {
  background-color: white;
  color: black;
}
