.movie-Poster {
  max-height: 350px;
  margin-top: 6px;
}
.movie-Info {
  max-width: 750px;
}

.container {
  align-items: center;
  display: flex;
  margin: auto;

}
/* Could possibly use parallax in Materialize to help style */
